body{
    background-image: url('pexels-scott-webb-593158.jpg');
    object-fit: fill;
    font-family: sans-serif;
    margin-top: 0.5vw;
}
.grande{
    margin: 0 auto;
}
#CVimage{
    background-image: url('pfp.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    height: 20vw;
    width: auto;
    text-align: right;
    padding-right: 30%;
}
.titulo{
    display: inline-block;
}
.title{
    color: black;
    text-decoration: inherit;
    font-size:xx-large;
    padding: 5px;
}
.title:hover{
    color: #252525;
}
h1{
    text-align: center;
}
h3{
    padding: 5px;
}
.container{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: "link texto";
}
.infoTitulo{
    grid-area: link;
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    padding: 20px;
    text-align: left;
}
.infoTitulo > a{
    font-size: x-large;
}
.infoTitulo > p{
    font-size: x-large;
    margin: 0;
    padding: 0;
}
.textoProjetos, .textoextracurriculares {
    grid-area: texto;
    margin: 0;
    padding: 10px;
}
.textoProjetos > p{
    margin: 10px 0px;
}
.textoextracurriculares > ul{
    margin: 0;
    padding: 15px;
}

a {
    color: inherit;
    text-decoration: inherit;
    font-size: medium;
    color: blue;
}
a:hover{
    color: red;
}
li{
    margin-bottom: 0.7rem;
}
ul {
    padding: 30px;
    line-height: 1em;
}
.introPagina{
    width: auto;
    background-color: white;
    padding: 15px;
}
.texto{
    background-color: gray;
    padding: 20px;
}

strong{
    line-height: 2rem;
}
.listaskils{
    display: grid;
    grid-template-areas: "lt rt";
    grid-auto-columns: 1fr;
}
.listaskils > .ullt{
    grid-area: lt;
}
.listaskils > .ulrt{
    grid-area: rt;
}
.resto{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}
.resto > p{
    margin: 0;
}
.resto > ul{
    padding-top: 0;
}

@media only screen and (max-width: 600px){
    .container{
    grid-template-areas: "link"
                         "texto";
    border-top-right-radius: 10px;
    }
}




.navbar {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 5px;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}