body{
    background-image: url('pexels-scott-webb-593158.jpg');
    object-fit: fill;
    font-family: sans-serif;
    margin-top: 0.5vw;
}
.grande{
    width: 85%;
    margin: 0 auto;
}
#topo{
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: 4px;
    padding: 10px;
    position: sticky;
    top: 0.5vw;
}
.titulo{
    display: inline-block;
}
.title{
    color: black;
    text-decoration: inherit;
    font-size:xx-large;
}
.barra{
    display: inline-block;
    height: fit-content;
    width: fit-content;
    padding: 10px;
}
.title:hover{
    color: #252525;
}
h1{
    text-align: center;
}
h3{
    padding: 5px;
}
.corpo{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: "lt ct rt";
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
}
.lf{
    grid-area: lt;
    text-align: left;
    padding-left: 5px;
}
.ct{
    grid-area: ct;
    text-align: center;
}
.rt{
    grid-area: rt;
    text-align: center;

}

.barra > a{
    background-color: rgb(255, 255, 255);
    font-size:large;
    color: black;
    border-radius: 5%;
    margin-left: 5px;
    padding: 3px;
}
.container{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: "link texto";
}
resto{
    grid-row-start: link;
    grid-row-end: texto;
}
.infoTitulo{
    grid-area: link;
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    padding: 20px;
    text-align: left;
}
.infoTitulo > a{
    font-size: x-large;
}
.infoTitulo > p{
    font-size: x-large;
    margin: 0;
    padding: 0;
}
.textoProjetos, .textoextracurriculares {
    grid-area: texto;
    margin: 0;
    padding: 10px;
}
.textoProjetos > p{
    margin: 10px 0px;
}
.textoextracurriculares > ul{
    margin: 0;
    padding: 15px;
}

a {
    color: inherit;
    text-decoration: inherit;
    font-size: medium;
    color: blue;
}
a:hover{
    color: red;
}
li{
    margin-bottom: 0.7rem;
}
ul {
    padding: 30px;
    line-height: 1em;
}
.introPagina{
    width: auto;
    background-color: white;
    padding: 15px;
}
.texto{
    background-color: gray;
    padding: 20px;
}

strong{
    line-height: 2rem;
}
.listaskils{
    display: grid;
    grid-template-areas: "lt rt";
    grid-auto-columns: 1fr;
}
.listaskils > .ullt{
    grid-area: lt;
}
.listaskils > .ulrt{
    grid-area: rt;
}
.resto{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}
.resto > p{
    margin: 0;
}
.resto > ul{
    padding-top: 0;
}